<div class="card shadow-sm rounded-4" *ngIf="recipient">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <div class="row">
        <div class="col-auto">
          <img src="{{recipient.photoUrl}}" class="img-fluid rounded-circle">
        </div>
        <div class="col d-flex align-items-center">
          <div>
            <h3 class="lh-1">
              <a routerLink="/user/{{recipient.id}}" class="text-decoration-none text-dark">
                {{recipient.fullName}}
              </a>
            </h3>
            <ng-container *ngIf="(presenceService.onlineUsers$ | async)?.includes(recipient.userName)">
              <p class="lh-1 mb-0">online</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body bg-messenger overflow-scroll">
    <div *ngFor="let message of (messageService.messageThread$ | async)">
      <div class="row d-flex"
        [ngClass]="{'justify-content-start': !isMyChat(message), 'justify-content-end': isMyChat(message)}">
        <div class="col-auto">
          <div class="px-3 py-2 mb-2 rounded-4 shadow-sm dropdown"
            [ngClass]="{'bg-white': !isMyChat(message), 'bg-success': isMyChat(message)}">
            <div>
              {{message.content}}
            </div>
            <div class="text-end text-muted pointer d-flex align-items-center justify-content-end" type="button" data-bs-toggle="dropdown">
              <span style="font-size: 12px;" class="me-1">
                {{message.messageSent | date: 'shortTime'}}
              </span>
              <span *ngIf="isMyChat(message)">
                <i class="bi bi-check-all"
                  [ngClass]="{'text-blue': message.dateRead !== undefined, 'text-muted': !message.dateRead === undefined}"></i>
              </span>
            </div>
            <ul class="dropdown-menu dropdown-menu-dark shadow">
              <li><a class="dropdown-item pointer" (click)="deleteMessage(message.id)">
                <i class="fa fa-trash me-2 text-danger"></i>
                Delete message</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <input name="messageContent" required [(ngModel)]="messageContent" type="text"
          class="form-control form-control-info input-sm rounded-pill" placeholder="Send a private message">
        </div>
        <div class="col-auto">
          <button [disabled]="!messageForm.valid || loading" class="btn btn-info rounded-circle" type="submit">
            <i *ngIf="!loading" class="fa fa-send"></i>
            <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
        </button>
        </div>
      </div>
    </form>
  </div>
</div>
