<div *ngIf="item" class="bg-white p-4 rounded-4"
  [ngClass]="{'shadow-info' : isProduct, 'shadow-warning': !isProduct}">
  <h3 class="fw-bold">
    {{item.name}}
  </h3>
  <div class="d-flex justify-content-between">
    <p class="text-info">
      Visit
      <a class="text-info" routerLink="{{url}}">
        {{vendor}}
      </a>
    </p>
    <ng-container *ngIf="isProduct">
      <p class="text-muted" *ngIf="item.stockQuantity > 0">
        {{item.stockQuantity}} Available
      </p>
      <p class="text-muted" *ngIf="item.stockQuantity <= 0">
        Not Available
      </p>
    </ng-container>
  </div>
  <h4 class="text-success text-center fw-bold">
    {{item.price | currency}}
  </h4>
  <hr class="my-4 text-info border border-2"
    [ngClass]="{'border-info': isProduct, 'border-primary':!isProduct}">
  <p>
    {{item.description}}
  </p>
</div>
