<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/summary" routerLinkActive="active">
      <i class="fa fa-user me-2"></i>
      Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/edit" routerLinkActive="active">
      <i class="fa fa-cog me-2"></i>
      Edit profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#collapseProducts">
      <i class="fa fa-address-book me-2"></i>
      Products</a>
    <div class="collapse show" id="collapseProducts">
      <nav class="nav nav-pills flex-column">
        <a routerLink="/account/products/new" routerLinkActive="active" class="nav-link ms-3 my-1">
          <i class="fa fa-plus-square-o me-2"></i>
          New product</a>
      </nav>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/services" routerLinkActive="active">
      <i class="fa fa-address-book-o me-2"></i>
      Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/saved-profiles" routerLinkActive="active">
      <i class="fa fa-bookmark me-2"></i>
      Saved profiles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/messages" routerLinkActive="active">
      <i class="fa fa-envelope me-2"></i>
      Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/change-password" routerLinkActive="active">
      <i class="fa fa-key me-2"></i>
      Change password</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer">
      <i class="fa fa-trash-o me-2"></i>
      Delete account</a>
  </li>
  <li class="nav-item pointer">
    <a class="nav-link" (click)="accountService.logout()">
      <i class="fa fa-sign-out me-2"></i>
      Logout</a>
  </li>
</ul>
