<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/summary" routerLinkActive="active">
      <i class="bi bi-person me-2"></i>
      Perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/edit" routerLinkActive="active">
      <i class="bi bi-gear-wide-connected me-2"></i>
      Editar Perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#collapseProducts">
      <i class="bi bi-box me-2"></i>
      Productos</a>
    <div class="collapse show" id="collapseProducts">
      <nav class="nav nav-pills flex-column">
        <a routerLink="/account/products/list" routerLinkActive="active" class="nav-link ms-3 my-1">
          <i class="bi bi-card-list me-2"></i>
          Mis productos</a>
        <a routerLink="/account/products/new" routerLinkActive="active" class="nav-link ms-3 my-1">
          <i class="bi bi-clipboard-plus me-2"></i>
          Nuevo producto</a>
      </nav>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#collapseServices">
      <i class="bi bi-tools me-2"></i>
      Servicios</a>
      <div class="collapse show" id="collapseServices">
        <nav class="nav nav-pills flex-column">
          <a routerLink="/account/services/list" routerLinkActive="active" class="nav-link ms-3 my-1">
            <i class="bi bi-card-list me-2"></i>
            Mis servicios</a>
          <a routerLink="/account/services/new" routerLinkActive="active" class="nav-link ms-3 my-1">
            <i class="bi bi-clipboard-plus me-2"></i>
            Nuevo servicio</a>
        </nav>
      </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#collapseJobs">
      <i class="fa fa-address-book-o me-2"></i>
      Trabajos</a>
      <div class="collapse show" id="collapseJobs">
        <nav class="nav nav-pills flex-column">
          <a routerLink="/account/jobs/list" routerLinkActive="active" class="nav-link ms-3 my-1">
            <i class="bi bi-card-list me-2"></i>
            Mis trabajos</a>
          <a routerLink="/account/jobs/new" routerLinkActive="active" class="nav-link ms-3 my-1">
            <i class="bi bi-clipboard-plus me-2"></i>
            Nuevo trabajo</a>
          <a routerLink="/account/jobs/saved" routerLinkActive="active" class="nav-link ms-3 my-1">
            <i class="bi bi-bookmark-check me-2"></i>
            Trabajos guardados</a>
        </nav>
      </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/saved-profiles" routerLinkActive="active">
      <i class="bi bi-person-heart me-2"></i>
      Perfiles guardados</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink="/account/messages" routerLinkActive="active">
      <i class="fa fa-envelope me-2"></i>
      Messages</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/account/change-password" routerLinkActive="active">
      <i class="bi bi-key me-2"></i>
      Cambiar contraseña</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer" (click)="onClickDeleteAccount()">
      <i class="bi bi-trash3 me-2"></i>
      Eliminar cuenta</a>
  </li>
  <li class="nav-item pointer">
    <a class="nav-link" (click)="accountService.logout()">
      <i class="fa fa-sign-out me-2"></i>
      Cerrar Sesión</a>
  </li>
</ul>
