<div class="continer-fluid container-xxl">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4">
        <app-text-input [label]="'Current password'" [formControl]="$any(passwordForm.controls['currentPassword'])" [type]="'password'"></app-text-input>
        <app-text-input [label]="'New password'" [formControl]="$any(passwordForm.controls['newPassword'])" [type]="'password'"></app-text-input>
        <app-text-input [label]="'Repeat password'" [formControl]="$any(passwordForm.controls['repeatNewPassword'])" [type]="'password'"></app-text-input>

      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="passwordForm.invalid">Submit</button>
  </form>
</div>
