.bs-datepicker-container {
  padding: 0 !important;
}

.pointer {
  cursor: pointer !important;
}

.gallery-card-img {
  display: inline-block;
width: 100% !important;
}

ngx-gallery {
  height: 200px!important;
}

.ngx-gallery {
  display: inline-block;
}

.ngx-gallery {
  // width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100% !important;
  width: 100% !important;
}

.gallery-viewer {
  width: 100% !important;
  padding-top: 100% !important;
  position: relative !important;
}

.shadow-info {
  box-shadow: 0 0.5rem 1rem rgba(0, 106, 140, 0.30) !important;
}

.shadow-info {
  box-shadow: 0 0.3rem 0.5rem rgba(0, 106, 140, 0.30) !important;
}

.shadow-warning {
  box-shadow: 0 0.5rem 1rem rgba(131, 0, 92, 0.30) !important;
}

.shadow-warning-sm {
  box-shadow: 0 0.3rem 0.5rem rgba(131, 0, 92, 0.30) !important;
}

$primary: #83005c;
$info: #006a8c;
$border-info-subtle: $info;

.bg-info-light {
 background-color: #ecf0f6!important;
}
.bg-primary-light {
  background-color: #f3ebf4 !important;
}

label.xng-breadcrumb-trail {
  color: $info;
  text-decoration: underline !important;
  font-weight: 600;
}

.ngx-gallery-thumbnail {
  box-shadow: 0 0.5rem 1rem rgba(0, 106, 140, 0.30) !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";
