<ng-container *ngIf="user">
  <tabset class="member-tabset">
    <tab heading="Información" class="pt-3">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mb-4">
        <div class="container-fluid container-md">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
              <app-text-input [label]="'Primer Nombre'" [formControl]="$any(userForm.controls['firstName'])"></app-text-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
              <app-text-input [label]="'Apellido(s)'" [formControl]="$any(userForm.controls['lastName'])"></app-text-input>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <app-date-picker [label]="'Fecha de nacimiento'" [formControl]="$any(userForm.controls['dateOfBirth'])"></app-date-picker>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <app-text-input [label]="'Teléfono'" [formControl]="$any(userForm.controls['phoneNumber'])"></app-text-input>
            </div>
          </div>
          <div class="row">
            <h3>Redes Sociales</h3>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4">
              <app-text-input [label]="'Facebook'" [formControl]="$any(userForm.controls['facebook'])"></app-text-input>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4">
              <app-text-input [label]="'Instagram'" [formControl]="$any(userForm.controls['instagram'])"></app-text-input>
            </div>
          </div>
          <div class="row" *ngIf="$any(userForm.controls['appUserAddress'].get('address'))">
            <h3>Dirección</h3>
            <div class="col-4 col-sm-3 col-md-3 col-lg-2">
              <app-text-input [label]="'Número'" [formControl]="$any(userForm.controls['appUserAddress'].get('address')!.get('number'))"></app-text-input>
            </div>
            <div class="col-8 col-sm-9 col-md-4 col-lg-3">
              <app-text-input [label]="'Calle'" [formControl]="$any(userForm.controls['appUserAddress'].get('address')!.get('street'))"></app-text-input>
            </div>
            <div class="col-12 col-sm-7 col-md-5 col-lg-4">
              <app-text-input [label]="'Ciudad'" [formControl]="$any(userForm.controls['appUserAddress'].get('address')!.get('city'))"></app-text-input>
            </div>
            <div class="col-8 col-sm-5 col-md-4 col-lg-3">
              <app-text-input [label]="'Estado'" [formControl]="$any(userForm.controls['appUserAddress'].get('address')!.get('state'))"></app-text-input>
            </div>
            <div class="col-4 col-sm-4 col-md-3 col-lg-2">
              <app-text-input [label]="'C.P.'" [formControl]="$any(userForm.controls['appUserAddress'].get('address')!.get('zipcode'))"></app-text-input>
            </div>
          </div>
          <!-- <code>
            {{userForm.value | json}}
          </code> -->
          <!-- <button class="btn btn-success" type="submit">Save changes
              <i class="fa fa-floppy-o ms-2"></i>
          </button> -->
          <button class="btn btn-success" type="submit" [disabled]="!userForm.dirty || userForm.invalid">Guardar
              <i class="fa fa-floppy-o ms-2"></i>
          </button>
        </div>
      </form>
    </tab>
    <tab heading="Foto" class="pt-3">
      <app-account-picture-uploader (sendWithPhoto)="receiveUserWithPhoto($event)"
        [photoUrl]="photoUrl"></app-account-picture-uploader>
    </tab>
    <tab heading="Currículum" class="pt-3">
      <app-pdf-uploader (sendWithCurriculum)="receiveUserWithCurriculum($event)"
        [curriculumUrl]="curriculumUrl"></app-pdf-uploader>
    </tab>
  </tabset>
</ng-container>
