<div class="p-4 border border-4 border-info border-opacity-50 rounded-4 shadow-sm">
  <div class="row my-5">
    <div class="col-5">
      <img src="{{job.userJob.user.appUserPhoto.photo.url}}" class="img-fluid rounded">
    </div>
    <div class="col-7 my-auto">
      <p class="text-muted fst-italic mb-1">
        Job area:
      </p>
      <h5>
        {{job.jobArea.area.name}}
      </h5>
    </div>
  </div>
  <h5>
    {{job.name}}
  </h5>
  <hr class="border border-1 border-opacity-100">
  <h6>Description</h6>
  <p>
    {{job.description}}
  </p>
  <hr class="border border-1 border-opacity-100">
  <h6>Location</h6>
  <p *ngIf="job.userJob.user.appUserAddress.address as address">
    {{address.street}} {{address.number}}, {{address.zipcode}}, {{address.city}}, {{address.state}}
  </p>
  <div class="d-flex justify-content-between"
    *ngIf="job.userJob.user as user">
    <a href="https://facebook.com/{{user.facebook}}" target="_blank">
      <img src="../../../assets/social-media-icons/facebook.svg" class="social-media-icons">
    </a>
    <a href="https://instagram.com/{{user.instagram}}" target="_blank">
      <img src="../../../assets/social-media-icons/instagram.svg" class="social-media-icons">
    </a>
    <a href="https://wa.me/{{user.phoneNumber}}" target="_blank">
      <img src="../../../assets/social-media-icons/whatsapp.svg" class="social-media-icons">
    </a>
    <a href="" routerLink="/" target="_blank">
      <img src="../../../assets/social-media-icons/mail.svg" class="social-media-icons">
    </a>
  </div>
  <div class="my-4">
    <ng-container *ngIf="loggedIn">
      <button class="btn btn-outline-success btn-lg d-flex mx-auto"
        *ngIf="!isFollowed()"
        (click)="clickFollow()">
        I'm interested
      </button>
      <button class="btn btn-outline-warning btn-lg d-flex mx-auto"
        *ngIf="isFollowed()"
        (click)="clickUnfollow()">
        Unfollow
      </button>
    </ng-container>
    <ng-container *ngIf="!loggedIn">
      <button class="btn btn-outline-success btn-lg d-flex mx-auto"
        routerLink="/sign-in">
        I'm interested
      </button>
    </ng-container>
  </div>
</div>
