<ng-container *ngIf="token===null">
  <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
    <app-text-input
      [formControl]="$any(emailForm.controls['email'])"
      [label]="'Ingresa tu correo'"
      [type]="'email'" ></app-text-input>
      <button [disabled]="emailForm.invalid" class="btn btn-sm btn-success" type="submit">Enviar correo de reestablecimiento de contraseña</button>
  </form>
</ng-container>
<ng-container *ngIf="token!==null">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4">
        <app-text-input [label]="'Nueva contraseña'" [formControl]="$any(passwordForm.controls['newPassword'])" [type]="'password'"></app-text-input>
        <app-text-input [label]="'Repetir nueva contraseña'" [formControl]="$any(passwordForm.controls['repeatNewPassword'])" [type]="'password'"></app-text-input>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="passwordForm.invalid">Aceptar</button>
  </form>

</ng-container>
