<ng-container *ngIf="token===null">
  <div class="container-fluid container-md">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-9 col-md-6 col-lg-3">
        <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
          <app-text-input
            [formControl]="$any(emailForm.controls['email'])"
            [label]="'Ingresa tu correo'"
            [type]="'email'" ></app-text-input>
            <button [disabled]="emailForm.invalid" class="btn btn-sm btn-success" type="submit">Enviar correo de reestablecimiento de contraseña</button>
        </form>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="token!==null">
  <div class="container-fluid container-md">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-9 col-md-6 col-lg-3">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
          <div class="row">
              <app-text-input [label]="'Nueva contraseña'" [formControl]="$any(passwordForm.controls['newPassword'])" [type]="'password'"></app-text-input>
              <app-text-input [label]="'Repetir nueva contraseña'" [formControl]="$any(passwordForm.controls['repeatNewPassword'])" [type]="'password'"></app-text-input>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="passwordForm.invalid">Aceptar</button>
        </form>
      </div>
    </div>
  </div>
</ng-container>
