<table class="table" *ngIf="user">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Item class</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" class="pointer" routerLink="/account/products/list/{{product.id}}">
      <td>
        {{product.id}}
      </td>
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.description}}
      </td>
      <td>
        {{product.price | currency}}
      </td>
      <td>
        {{product.productItemClass.itemClass.name}}
      </td>
      <td>
        {{product.stockQuantity}}
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center" *ngIf="totalCount > 0">
  <app-pager [totalCount]="totalCount" [pageSize]="params.pageSize" [pageNumber]="params.pageNumber"
    (pageChanged)="onPageChanged($event)"></app-pager>
</div>
