<section class="my-5 p-4 shadow-info bg-danger">
  <div class="container-fluid container-xl">
    <div class="row">
      <div class="col-6">
        <h1 class="text-info">Find your dream job</h1>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</section>

<section class="my-5 p-4 shadow-warning bg-warning">
  <div class="container-fluid container-xl">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6"></div>
    </div>
  </div>
</section>

<section class="my-5 p-4 shadow-info bg-danger">
  <div class="container-fluid container-xl">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6"></div>
    </div>
  </div>
</section>

<section class="my-5 p-4 shadow-warning bg-warning">
  <div class="container-fluid container-xl">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6"></div>
    </div>
  </div>
</section>

<section class="my-5 p-4 shadow">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, sequi!</p>
</section>
