<section class="my-5 p-4 shadow-info bg-info-subtle">
  <div class="container-fluid container-xl">
    <div class="row align-items-center py-3">
      <div class="col-12 col-lg-6">
        <h1 class="text-info mb-5 text-center">Encuentra tu trabajo ideal</h1>
        <div class="row mb-3">
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '1'}">Ingeniería</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '1'}">Ingeniería</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '1'}">Ingeniería</a>
          </div>
          <div class="col-3">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '2'}">Finanzas</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '2'}">Finanzas</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '2'}">Finanzas</a>
          </div>
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '3'}">Mercadotecnia</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '3'}">Mercadotecnia</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '3'}">Mercadotecnia</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '4'}">Servicio al Cliente</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '4'}">Servicio al Cliente</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '4'}">Servicio al Cliente</a>
          </div>
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '5'}">Recursos Humanos</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '5'}">Recursos Humanos</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '5'}">Recursos Humanos</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '6'}">Gerente de Ventas</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '6'}">Gerente de Ventas</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '6'}">Gerente de Ventas</a>
          </div>
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '7'}">Gestor de Projectos</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '7'}">Gestor de Projectos</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '7'}">Gestor de Projectos</a>
          </div>
        </div>
        <a class="btn btn-outline-info d-sm-none py-2 px-5 btn-sm rounded-pill border border-3 border-info"
          routerLink="/jobs" [queryParams]="{area: '8'}">Salud y Binenestar</a>
        <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 px-5 rounded-pill border border-3 border-info"
          routerLink="/jobs" [queryParams]="{area: '8'}">Salud y Binenestar</a>
        <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 px-5 rounded-pill border border-3 border-info"
          routerLink="/jobs" [queryParams]="{area: '8'}">Salud y Binenestar</a>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img class="img-fluid col-8" src="../../assets/landing/first.svg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="btn btn-sm px-5 py-3 btn-info fs-3 rounded-4 " routerLink="/jobs">Buscar Trabajo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 p-4 shadow-warning bg-primary-subtle">
  <div class="container-fluid container-xl">
    <div class="row align-items-center py-3">
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/landing/second.svg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="btn btn-lg px-5 py-3 btn-primary fs-3 rounded-4" routerLink="/products">Busca Productos</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="text-primary mb-5 text-center">Solo encontrarás calidad</h1>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '1'}">Vestimenta y Accesorios</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '1'}">Vestimenta y Accesorios</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '1'}">Vestimenta y Accesorios</a>
          </div>
          <div class="col-4">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '2'}">Viajes</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '2'}">Viajes</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '2'}">Viajes</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '3'}">Hogar y Jardín</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '3'}">Hogar y Jardín</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '3'}">Hogar y Jardín</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '4'}">Comida y Bebida</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '4'}">Comida y Bebida</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '4'}">Comida y Bebida</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '5'}">Salud y Belleza</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '5'}">Salud y Belleza</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '5'}">Salud y Belleza</a>
          </div>
          <div class="col-5">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '6'}">Deportes y Exterior</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '6'}">Deportes y Exterior</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '6'}">Deportes y Exterior</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '7'}">Electronicos</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '7'}">Electronicos</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '7'}">Electronicos</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '8'}">Juguetes y Entrentenimiento</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '8'}">Juguetes y Entrentenimiento</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '8'}">Juguetes y Entrentenimiento</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 p-4 shadow-info bg-info-subtle">
  <div class="container-fluid container-xl">
    <div class="row align-items-center py-3">
      <div class="col-12 col-lg-6">
        <h1 class="text-info mb-5 text-center">Las mejores negociaciones con las mejores personas</h1>
        <div class="row mb-3">
          <div class="col-4">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '1'}">Aseo</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '1'}">Aseo</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '1'}">Aseo</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '2'}">Planeación de Eventos</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '2'}">Planeación de Eventos</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '2'}">Planeación de Eventos</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '3'}">Cocina y Repostería</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '3'}">Cocina y Repostería</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '3'}">Cocina y Repostería</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '4'}">Cuidado de los Hijos</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '4'}">Cuidado de los Hijos</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '4'}">Cuidado de los Hijos</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '5'}">Remodelación</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '5'}">Remodelación</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '5'}">Remodelación</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '6'}">Mandados</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '6'}">Mandados</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '6'}">Mandados</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '7'}">Cuidado de mascotas</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '7'}">Cuidado de mascotas</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '7'}">Cuidado de mascotas</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '8'}">Salud y Binenestar</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '8'}">Salud y Binenestar</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '8'}">Salud y Binenestar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img class="img-fluid col-8" src="../../assets/landing/third.svg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="btn btn-lg px-5 py-3 btn-info fs-3 rounded-4 " routerLink="/services">Buscar Servicios</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 bg-primary-subtle shadow-warning py-5">
        <div class="container-fluid container-xxl">

        <h1 class="text-primary text-center mb-5">Publica tus vacantes</h1>
        <div class="col-12 d-flex justify-content-center">
          <a routerLink="/" class="btn btn-lg btn-primary fs-2 p-4">Comienza a ofrecer trabajo</a>
        </div>

        </div>
      </div>
      <div class="col-12 col-lg-6 bg-info-subtle shadow-info py-5">
        <div class="container-fluid container-xxl my-auto">
        <h1 class="text-info text-center mb-5">Promueve tus productos y servicios</h1>
        <div class="col-12 d-flex my-auto justify-content-center">
          <a routerLink="/" class="btn btn-lg btn-info fs-2 p-4">Comienza a promocionar la calidad</a>
        </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
