<section class="my-5 p-4 shadow-info bg-info-subtle">
  <div class="container-fluid container-xl">
    <div class="row align-items-center py-3">
      <div class="col-12 col-lg-6">
        <h1 class="text-info mb-5 text-center">Find your dream job</h1>
        <div class="row mb-3">
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '1'}">Engineering</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '1'}">Engineering</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '1'}">Engineering</a>
          </div>
          <div class="col-3">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '2'}">Finance</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '2'}">Finance</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '2'}">Finance</a>
          </div>
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '3'}">Marketing</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '3'}">Marketing</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '3'}">Marketing</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '4'}">Customer Support</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '4'}">Customer Support</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '4'}">Customer Support</a>
          </div>
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '5'}">Human Resources</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '5'}">Human Resources</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '5'}">Human Resources</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '6'}">Sales Manager</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '6'}">Sales Manager</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '6'}">Sales Manager</a>
          </div>
          <div class="col">
            <a class="btn btn-outline-info d-sm-none py-2 btn-sm rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '7'}">Project Manager</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '7'}">Project Manager</a>
            <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 rounded-pill border border-3 border-info col-12"
              routerLink="/jobs" [queryParams]="{area: '7'}">Project Manager</a>
          </div>
        </div>
        <a class="btn btn-outline-info d-sm-none py-2 px-5 btn-sm rounded-pill border border-3 border-info"
          routerLink="/jobs" [queryParams]="{area: '8'}">Medical & Health</a>
        <a class="d-none d-sm-block d-lg-none btn btn-outline-info py-3 px-5 rounded-pill border border-3 border-info"
          routerLink="/jobs" [queryParams]="{area: '8'}">Medical & Health</a>
        <a class="d-none d-lg-block btn btn-lg btn-outline-info py-3 px-5 rounded-pill border border-3 border-info"
          routerLink="/jobs" [queryParams]="{area: '8'}">Medical & Health</a>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img class="img-fluid col-8 mb-3" src="../../assets/landing/first.svg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="btn btn-sm px-5 py-3 btn-info fs-3 rounded-4 " routerLink="/jobs">Seek for job</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 p-4 shadow-warning bg-primary-subtle">
  <div class="container-fluid container-xl">
    <div class="row align-items-center py-3">
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img class="img-fluid mb-3" src="../../assets/landing/second.svg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="btn btn-lg px-5 py-3 btn-primary fs-3 rounded-4" routerLink="/products">Seek for products</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="text-primary mb-5 text-center">You will only find quality</h1>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '1'}">Clothing & Accesories</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '1'}">Clothing & Accesories</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '1'}">Clothing & Accesories</a>
          </div>
          <div class="col-4">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '2'}">Travel</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '2'}">Travel</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '2'}">Travel</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '3'}">Home & Garden</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '3'}">Home & Garden</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '3'}">Home & Garden</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '4'}">Food & Beverages</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '4'}">Food & Beverages</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '4'}">Food & Beverages</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '5'}">Health & Beauty</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '5'}">Health & Beauty</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '5'}">Health & Beauty</a>
          </div>
          <div class="col-5">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '6'}">Sports & Outdoors</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '6'}">Sports & Outdoors</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '6'}">Sports & Outdoors</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '7'}">Electronics</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '7'}">Electronics</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '7'}">Electronics</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn-sm btn btn-outline-primary py-2 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '8'}">Toys & Entertainment</a>
            <a class="d-none d-sm-block d-lg-none btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '8'}">Toys & Entertainment</a>
            <a class="d-none d-lg-block btn-lg btn btn-outline-primary py-3 rounded-pill border border-3 border-primary col-12"
              routerLink="/products" [queryParams]="{category: '8'}">Toys & Entertainment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 p-4 shadow-info bg-info-subtle">
  <div class="container-fluid container-xl">
    <div class="row align-items-center py-3">
      <div class="col-12 col-lg-6">
        <h1 class="text-info mb-5 text-center">Make the best deals with the best kind of people</h1>
        <div class="row mb-3">
          <div class="col-4">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '1'}">Cleaning</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '1'}">Cleaning</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '1'}">Cleaning</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '2'}">Event Planning & Coordinator</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '2'}">Event Planning & Coordinator</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '2'}">Event Planning & Coordinator</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '3'}">Cooking & Meal Preparation</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '3'}">Cooking & Meal Preparation</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '3'}">Cooking & Meal Preparation</a>
          </div>
          <div class="col-4">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '4'}">Babysitting</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '4'}">Babysitting</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '4'}">Babysitting</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '5'}">Home Improvement</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '5'}">Home Improvement</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '5'}">Home Improvement</a>
          </div>
          <div class="col">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '6'}">Errand & Concierge</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '6'}">Errand & Concierge</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '6'}">Errand & Concierge</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '7'}">Pet Care</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '7'}">Pet Care</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '7'}">Pet Care</a>
          </div>
          <div class="col-4">
            <a class="d-sm-none btn btn-sm py-2 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '8'}">Health & Fitness</a>
            <a class="d-none d-sm-block d-lg-none py-3 btn btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '8'}">Health & Fitness</a>
            <a class="d-none d-lg-block btn btn-lg py-3 btn-outline-info rounded-pill border border-3 border-info col-12"
              routerLink="/services" [queryParams]="{category: '8'}">Health & Fitness</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img class="img-fluid col-8 mb-3" src="../../assets/landing/third.svg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="btn btn-lg px-5 py-3 btn-info fs-3 rounded-4 " routerLink="/services">Seek for services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 bg-primary-subtle shadow-warning py-5">
        <div class="container-fluid container-xxl">

        <h1 class="text-primary text-center mb-5">Post your job offers to find the right person</h1>
        <div class="col-12 d-flex justify-content-center">
          <a routerLink="/" class="btn btn-lg btn-primary fs-2 p-4">Start offering opportunities</a>
        </div>

        </div>
      </div>
      <div class="col-12 col-lg-6 bg-info-subtle shadow-info py-5">
        <div class="container-fluid container-xxl my-auto">
        <h1 class="text-info text-center mb-5">Promote products or services</h1>
        <div class="col-12 d-flex my-auto justify-content-center">
          <a routerLink="/" class="btn btn-lg btn-info fs-2 p-4">Start promoting quality</a>
        </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
