<ng-container *ngIf="areas">
  <div class="container-fluid container-md">
    <div class="row mb-3 bg-body-tertiary p-3 shadow-sm rounded-4">
      <div class="col-auto d-flex align-items-center">
        <button routerLink="../" type="button" class="btn btn-link">
          <i class="bi bi-arrow-left me-2"></i>
          Atrás</button>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="submit" [disabled]="jobForm.invalid || !jobForm.dirty" form="jobForm"
          class="btn btn-success me-2 text-success-emphasis bg-success-subtle">
          <i class="bi bi-save me-2"></i>
            Guardar
        </button>
      </div>
    </div>
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" id="jobForm">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
          <app-text-input [label]="'Nombre'" [formControl]="$any(jobForm.controls['name'])"></app-text-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
          <app-text-area [label]="'Descripción'" [formControl]="$any(jobForm.controls['description'])"></app-text-area>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
          <app-text-input [label]="'Salario'" [type]="'number'"
            [formControl]="$any(jobForm.controls['salary'])"></app-text-input>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-sm col-md-6 col-lg-4" *ngIf="jobForm.get('jobArea')">
          <div class="form-floating" id="floatingSelect">
            <select class="form-select" [formControl]="$any(jobForm.controls['jobArea'].get('areaId'))">
              <option value="{{area.id | number}}" *ngFor="let area of areas">
                {{area.name}}
              </option>
            </select>
            <label for="floatingSelect">Área</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>
