<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" *ngIf="categories && serviceForm && user">
  <div class="container-fluid container-md">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4">
        <app-text-input [label]="'Name'" [formControl]="$any(serviceForm.controls['name'])"></app-text-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4">
        <app-text-input [label]="'Description'" [formControl]="$any(serviceForm.controls['description'])"></app-text-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4">
        <app-text-input [label]="'Price'" [type]="'number'" [formControl]="$any(serviceForm.controls['price'])"></app-text-input>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-sm col-md-6 col-lg-4" *ngIf="serviceForm.get('serviceCategory')">
        <div class="form-floating" id="floatingSelect">
          <select class="form-select" [formControl]="$any(serviceForm.controls['serviceCategory'].get('categoryId'))">
            <option value="{{type.id | number}}" *ngFor="let type of categories">
              {{type.name}}
            </option>
          </select>
          <label for="floatingSelect">Service category</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex">
      <button type="submit" [disabled]="serviceForm.invalid" class="btn btn-success">Add service
        <i class="fa fa-check ms-2"></i>
      </button>
      </div>
    </div>
  </div>
</form>
