<div class="container-fluid container-xxl" *ngIf="product">
  <div class="row">
    <div class="col-12 col-sm-6 mb-3">
      <div class="gallery-viewer" *ngIf="showGallery()">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </div>
    </div>
    <div class="col-12 col-sm-6 mb-3">
      <h3 class="fw-demibold">
        {{product.name}}
      </h3>
      <a class="text-decoration-none text-info" routerLink="/user/{{product.seller.id}}">
        Visit {{product.seller.fullName}}
      </a>
      <hr class="text-muted my-4">
      <ng-container *ngIf="product.stockQuantity === 0">
        <p class="text-danger fs-5">
            This product is currently unavailable.
        </p>
      </ng-container>
      <ng-container *ngIf="product.stockQuantity > 0">
        <p class="fw-light text-muted fs-5">
            {{product.stockQuantity}} available.
        </p>
      </ng-container>
      <p>
        {{product.description}}
      </p>
    </div>
  </div>
  <h3>Seller</h3>
  <app-user-card [user]="owner"></app-user-card>
</div>
