<div class="form-floating mb-3">
  <textarea
    [formControl]="control"
    placeholder="{{label}}"
    class="form-control"
    [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null"
    style="height: 150px;"
  ></textarea>
  <label for="floatingInput">{{label}}</label>

  <div *ngIf="control.errors?.['required']" class="invalid-feedback">Ingrese {{label | lowercase}}</div>
  <div *ngIf="control.errors?.['minlength']" class="invalid-feedback" >{{label | titlecase}} debe tener al menos {{control.errors?.['minlength'].requiredLength}} caracteres</div>
  <div *ngIf="control.errors?.['maxlength']" class="invalid-feedback" >{{label | titlecase}} debe tener máximo {{control.errors?.['maxlength'].requiredLength}} caracteres</div>
</div>
