<div *ngIf="product">
  <div class="container-fluid container-md">
    <div class="row mb-3">
      <div class="col-12 col-lg-6 col-xl-7 mb-3">
        <div class="mb-4">
          <a routerLink="/account/products/list" class="text-decoration-none">
            <i class="fa fa-angle-left me-2"></i>
            Back
          </a>
        </div>
        <h1>
          {{product.name}}
        </h1>
        <p class="fst-italic text-muted">
          {{product.productItemClass.itemClass.name}} product category
        </p>
        <p>
          {{product.description}}
        </p>
        <p class="fw-bold fs-5 text-success">
          {{product.price | currency}}
        </p>
      </div>
      <div class="col-12 col-lg-6 col-xl-5">
        <div class="gallery-viewer" *ngIf="showGallery()">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <a routerLink="edit" class="btn btn-outline-info me-2">
          <i class="fa fa-pencil me-2"></i>
          Edit</a>
        <button class="btn btn-outline-danger me-2" (click)="delete()">
          <i class="fa fa-trash me-2"></i>
          Delete</button>
      </div>
    </div>
  </div>
</div>
