<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
  <section
    *ngIf="showBreadcrumbs(breadcrumbs)"
    class="shadow-sm m-3 rounded-5 p-3">
    <div class="container-md">
      <div class="row d-flex align-items-center">
        <div class="col-auto">
          <xng-breadcrumb>
            <ng-container *xngBreadcrumbItem="let breadcrumb">
              {{breadcrumb | titlecase}}
            </ng-container>
          </xng-breadcrumb>
        </div>
      </div>
    </div>
  </section>
</ng-container>
