<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
  <section *ngIf="breadcrumbs[breadcrumbs.length-1].label !== 'Home'" class="bg-white shadow-sm m-3 rounded-5 p-3">
    <div class="container-md">
      <div class="row d-flex align-items-center">
        <div class="col-auto">
          <xng-breadcrumb>
            <ng-container *xngBreadcrumbItem="let breadcrumb">
              {{breadcrumb | titlecase}}
            </ng-container>
          </xng-breadcrumb>
        </div>
        <!-- <div class="col d-flex justify-content-end d-none d-md-flex">
          <h1 class="text-primary fw-semibold fs-2 fst-italic">{{breadcrumbs[breadcrumbs.length-1].label | titlecase}}
          </h1>
        </div> -->
      </div>
    </div>
  </section>
</ng-container>
