<div class="form-floating mb-3">
  <input
    type={{type}}
    [formControl]="control"
    placeholder="{{label}}"
    class="form-control"
    autofocus
    [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null"
  >
  <div *ngIf="control.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
  <label for="floatingInput">{{label}}</label>

  <div *ngIf="control.errors?.['required']" class="invalid-feedback">Ingrese {{label | lowercase}}</div>
  <div *ngIf="control.errors?.['email']" class="invalid-feedback">
    Dirección de email invalida
  </div>
  <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">La contraseña no es lo suficientemente compleja</div>
  <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">Esta dirección de correo ya está ligada a una cuenta</div>
  <div *ngIf="control.errors?.['notMatching']" class="invalid-feedback">Las contraseñas no coincidenn</div>
  <div *ngIf="control.errors?.['minlength']" class="invalid-feedback" >{{label | titlecase}} debe tener al menos {{control.errors?.['minlength'].requiredLength}} caracteres</div>
  <div *ngIf="control.errors?.['maxlength']" class="invalid-feedback" >{{label | titlecase}} deber tener máximo {{control.errors?.['maxlength'].requiredLength}} caracteres</div>
</div>
