<ng-container *ngIf="product && types">
  <div class="container-fluid container-md">
    <div class="row mb-3 bg-body-tertiary p-3 shadow-sm rounded-4">
      <div class="col-auto d-flex align-items-center">
        <button routerLink="../" type="button" class="btn btn-link">
          <i class="bi bi-arrow-left me-2"></i>
          Atrás</button>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="submit" [disabled]="productForm.invalid || !productForm.dirty" form="productForm"
          class="btn btn-success me-2 text-success-emphasis bg-success-subtle">
          <i class="bi bi-save me-sm-2"></i>
          <span class="d-none d-sm-inline">
            Guardar
          </span>
        </button>
        <button class="btn btn-danger text-danger-emphasis bg-danger-subtle" (click)="delete()">
          <i class="bi bi-trash3 me-sm-2"></i>
          <span class="d-none d-sm-inline">
            Eliminar
          </span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()" *ngIf="types && productForm" id="productForm">
          <app-text-input [label]="'Nombre'" [formControl]="$any(productForm.controls['name'])"></app-text-input>
          <app-text-area [label]="'Descripción'"
            [formControl]="$any(productForm.controls['description'])"></app-text-area>
          <div class="row">
            <div class="col-6">
              <app-text-input [label]="'Precio'" [type]="'number'"
                [formControl]="$any(productForm.controls['price'])"></app-text-input>
            </div>
            <div class="col-6">
              <div class="form-check form-switch mb-3">
                <input type="checkbox" class="form-check-input" id="available" name="available"
                [formControl]="$any(productForm.controls['available'])" (change)="onToggleAvailable()">
                <label class="form-check-label" for="available">Disponible</label>
              </div>
            </div>
          </div>
          <div class="form-floating" id="floatingSelect" *ngIf="productForm.get('productItemClass')">
            <select class="form-select"
              [formControl]="$any(productForm.controls['productItemClass'].get('itemClassId'))">
              <option value="{{type.id | number}}" *ngFor="let type of types">
                {{type.name}}
              </option>
            </select>
            <label for="floatingSelect">Tipo</label>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-6 col-lg-8">
        <app-photo-upload [object]="product" [photos]="photos" [controller]="'products'"
          (send)="receive($event)"></app-photo-upload>
      </div>
    </div>
    <!-- <code>
      {{productForm.value | json}}
    </code> -->
  </div>
</ng-container>
