<div class="modal-content rounded-3 shadow">
  <div class="modal-body p-4 text-center">
    <h5 class="mb-0">{{title}}</h5>
    <p class="mb-0">{{message}}</p>
  </div>
  <div class="modal-footer flex-nowrap p-0">
    <button type="button"
      (click)="confirm()"
      class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"><strong>
        {{btnOkText}}
      </strong></button>
    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
      (click)="decline()"
      data-bs-dismiss="modal">
      {{btnCancelText}}
    </button>
  </div>
</div>
