<footer style="background-color: #d3d4d9 !important;">
  <div class="container-fluid container-xxl p-3">
    <div class="d-flex justify-content-evenly align-items-center">
      <img style="max-width: 100px;" src="../../../assets/Womix Nav Logo.svg" alt="">
      <span>&copy; 2023 Copyright</span>
      <a routerLink="/" class="text-decoration-none text-muted">
        Política de Privacidad
      </a>
      <a routerLink="/" class="text-decoration-none text-muted">
        Condiciones de Uso
      </a>
      <a routerLink="/" class="text-decoration-none text-muted">
        Política de Cookies
      </a>
      <a routerLink="/" class="text-decoration-none text-muted">
        Política de copyright
      </a>
    </div>
  </div>
</footer>
