<footer class="bg-body-tertiary">
  <div class="container-fluid container-xxl p-3">
    <div class="d-flex justify-content-evenly align-items-center">
      <img style="max-width: 100px;" src="../../../assets/Womix Nav Logo.svg" alt="">
      <nav class="nav flex-column flex-sm-row">
        <a routerLink="/" class="nav-link text-decoration-none text-muted">
          Política de Privacidad
        </a>
        <a routerLink="/" class="nav-link text-decoration-none text-muted">
          Condiciones de Uso
        </a>
        <a routerLink="/" class="nav-link text-decoration-none text-muted">
          Política de Cookies
        </a>
        <a routerLink="/" class="nav-link text-decoration-none text-muted">
          Política de copyright
        </a>

      </nav>
    </div>
  </div>
</footer>
