<nav class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container">
    <a routerLink="/" class="navbar-brand">
      <img src="../../../assets/Womix Nav Logo.svg" height="40">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/products" routerLinkActive="active" class="nav-link">Productos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/services" routerLinkActive="active" class="nav-link">Servicios</a>
      </li>
      <li class="nav-item">
        <a routerLink="/labour-exange" routerLinkActive="active" class="nav-link">Bolsa de Trabajo</a>
      </li>
    </ul>
    <div>
      <a routerLink="/sign-in" class="btn btn-outline-primary me-2">Iniciar sesión</a>
      <a routerLink="/sign-up" class="btn btn-primary">Crear cuenta</a>
    </div>
  </div>
</nav>
