<nav class="navbar bg-body-tertiary navbar-expand-md bd-navbar m-3 rounded-5 p-3 shadow-sm">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand p-0">
      <img src="../../../assets/Womix Nav Logo.svg" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <a routerLink="/" class="navbar-brand p-0">
            <img src="../../../assets/Womix Nav Logo.svg" height="40">
          </a>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-none d-md-flex col-12">

          <div class="col">
            <ul class="navbar-nav flex-grow-1 pe-3 nav nav-underline d-flex justify-content-center">
              <li class="nav-item me-3">
                <a routerLink="/products" routerLinkActive="active"
                  class="nav-link text-uppercase text-center">Productos</a>
              </li>
              <li class="nav-item me-3">
                <a routerLink="/services" routerLinkActive="active"
                  class="nav-link text-uppercase text-center">Servicios</a>
              </li>
              <li class="nav-item">
                <a routerLink="/jobs" routerLinkActive="active" class="nav-link text-uppercase text-center">Trabajos</a>
              </li>
            </ul>
          </div>
          <div class="col-auto">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center show"
                  id="bd-theme" type="button" data-bs-toggle="dropdown" data-bs-display="static">
                  <i class="bi bi-sun-fill me-2" *ngIf="selectedTheme === 'light'"></i>
                  <i class="bi bi-moon-stars-fill me-2" *ngIf="selectedTheme === 'dark'"></i>
                  <i class="bi bi-circle-half me-2" *ngIf="selectedTheme === 'auto'"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                  <ng-container [ngTemplateOutlet]="appearanceMenu"></ng-container>
                </ul>
              </li>
              <li class="nav-item py-2 py-md-1 col-12 col-md-auto">
                <div class="vr d-none d-md-flex h-100 mx-md-2 text-white"></div>
                <hr class="d-md-none my-2 text-white-50">
              </li>
              <ng-container *ngIf="(accountService.currentAccount$ | async) === null">
                <a routerLink="/sign-in" class="btn btn-outline-secondary me-2 rounded-4">Iniciar Sesión</a>
              </ng-container>
              <div class="dropdown" *ngIf="accountService.currentAccount$ | async as account">
                <a class="btn btn-link dropdown-toggle text-decoration-none" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <strong>{{account.firstName}}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <ng-container *ngIf="account.role === 'Admin'">
                    <li><span class="dropdown-item-text fw-bold text-muted ms-2">
                      Administrador
                      <i class="bi bi-eyeglasses ms-2"></i>
                    </span></li>
                  <li><a class="dropdown-item" routerLink="/admin/photos" routerLinkActive="active">
                      <i class="bi bi-camera-fill me-2"></i>
                      Moderar fotos
                    </a></li>
                  <div class="dropdown-divider"></div>
                  </ng-container>
                  <ng-container [ngTemplateOutlet]="accountMenu"
                    [ngTemplateOutletContext]="{ account: account }"></ng-container>
                </ul>
              </div>
            </ul>
          </div>
        </div>

        <div class="d-md-none">
          <div class="dropdown">
            <ul class="dropdown-menu show open d-block appearanceMenu" data-bs-popper="static">
              <ng-container [ngTemplateOutlet]="appearanceMenu"></ng-container>
            </ul>
          </div>
          <br>
          <div class="dropdown" *ngIf="accountService.currentAccount$ | async as account">
            <ul class="dropdown-menu show open d-block accountMenu" data-bs-popper="static">
              <ng-container [ngTemplateOutlet]="accountMenu"
                [ngTemplateOutletContext]="{ account: account }"></ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #appearanceMenu>
  <li>
    <button class="dropdown-item d-flex align-items-center" (click)="setTheme('light')"
      [ngClass]="{'active': selectedTheme === 'light'}">
      <i class="bi bi-sun-fill me-2 opacity-50"></i>
      Claro
      <i class="bi bi-check ms-auto" *ngIf="selectedTheme === 'light'"></i>
    </button>
  </li>
  <li>
    <button class="dropdown-item d-flex align-items-center" type="button" (click)="setTheme('dark')"
      [ngClass]="{'active': selectedTheme === 'dark'}">
      <i class="bi bi-moon-stars-fill me-2 opacity-50"></i>
      Oscuro
      <i class="bi bi-check ms-auto" *ngIf="selectedTheme === 'dark'"></i>
    </button>
  </li>
  <li>
    <button class="dropdown-item d-flex align-items-center" type="button" (click)="setTheme('auto')"
      [ngClass]="{'active': selectedTheme === 'auto'}">
      <i class="bi bi-circle-half me-2 opacity-50"></i>
      Auto
      <i class="bi bi-check ms-auto" *ngIf="selectedTheme === 'auto'"></i>
    </button>
  </li>
</ng-template>

<ng-template #accountMenu let-account="account">

  <li><span class="dropdown-item-text fw-bold text-muted ms-2">
      Explora
      <i class="bi bi-browser-safari ms-2"></i>
    </span></li>
  <li><a class="dropdown-item" routerLink="/products" routerLinkActive="active">
      <i class="bi bi-box me-2"></i>
      Productos
    </a></li>
  <li><a class="dropdown-item" routerLink="/services" routerLinkActive="active">
      <i class="bi bi-tools me-2"></i>
      Servicios
    </a></li>
  <li><a class="dropdown-item" routerLink="/jobs" routerLinkActive="active">
      <i class="bi bi-person-vcard me-2"></i>
      Trabajos
    </a></li>
  <div class="dropdown-divider"></div>
  <li><span class="dropdown-item-text fw-bold text-muted ms-2">
      {{account.firstName}}
      <i class="bi bi-person-fill ms-2"></i>
    </span></li>
  <li><a class="dropdown-item" routerLink="/account/summary" routerLinkActive="active">
      <i class="bi bi-person me-2 opacity-75"></i>
      Ver perfil
    </a></li>
  <li><a class="dropdown-item" routerLink="/account/edit" routerLinkActive="active">
      <i class="bi bi-gear-wide-connected me-2 opacity-75"></i>
      Editar perfil
    </a></li>
  <li><a class="dropdown-item" routerLink="/account/products/list" routerLinkActive="active">
      <i class="bi bi-box-fill me-2 opacity-75"></i>
      Productos
    </a></li>
  <li><a class="dropdown-item" routerLink="/account/services/list" routerLinkActive="active">
      <i class="bi bi-wrench me-2 opacity-75"></i>
      Servicios
    </a></li>
  <li><a class="dropdown-item" routerLink="/account/jobs/list" routerLinkActive="active">
      <i class="bi bi-person-vcard-fill me-2 opacity-75"></i>
      Trabajos
    </a></li>
  <li><a class="dropdown-item" routerLink="/account/saved-profiles" routerLinkActive="active">
      <i class="bi bi-heart-fill me-2 opacity-75"></i>
      Perfiles guardados
    </a></li>
  <div class="dropdown-divider"></div>
  <li><a class="dropdown-item pointer" (click)="accountService.logout()">
      <i class="bi bi-box-arrow-left me-2 opacity-75"></i>
      Cerrar sesión
    </a></li>

</ng-template>
